/**
 * @author: wenhao.huang
 * @date:   2017/12/23
 */
@import 'mixin';

html{
    font-size: 50px;
}

html, body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

html * {
    box-sizing: border-box;
}

body {
    color: #555;
    font-size: 0.28rem;
    line-height: 1.42857143;
    font-family: $fontFamily;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

h2 {
    font-size: 0.5rem;
    font-weight: 400;
}

h3 {
    font-size: 0.4rem;
    font-weight: 400;
}

.disabled {
    user-select: none;
    pointer-events: none;
}

#app {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.img-responsive{
    display:inline-block;
    vertical-align:middle;
    max-width:100%;
    max-height:100%;
}
.table{
    width:100%;
    border-collapse:collapse;
}
// chrome 滚动条设置
::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
    border: 1px solid #fff;
}

input.text {
    color: #333;
    display: block;
    padding: 0.22rem 0.24rem;
    width: 100%;
    background:#FFF none;
    border: 0.02rem solid #E5E6E7;
    transition: border-color 0.15s ease-in-out 0s;
    outline: none;
    box-shadow: none;
    &::-webkit-input-placeholder{
        color:#8F8F8F;
    }
    &:focus {
        border-color: $success;
    }
}
.textarea{
    color: #333;
    display: block;
    padding: 0.22rem 0.24rem;
    width: 100%;
    background:#FFF none;
    border: 0.02rem solid #E5E6E7;
    transition: border-color 0.15s ease-in-out 0s;
    outline: none;
    resize:none;
    box-shadow: none;
    &::-webkit-input-placeholder{
        color:#8F8F8F;
    }
    &:focus {
        border-color: $success;
    }
}

.wrapper{
    width:100%;height:100%;
}
.wrapper-flex{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    .wrapper-hd,.wrapper-bd,.wrapper-ft{
        width:100%;
    }
    .wrapper-bd{
        flex:1;
    }
}
